@import './sidebar.scss';
@import './reset.scss';
@import './dark.scss';
@import './transform.scss';
@import './light.scss';
.app-container {
  padding: 20px;
  .search {
    padding: 18px 0 0 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid var(--el-border-color-light);
    box-shadow: var(--el-box-shadow-light);
    background-color: var(--el-bg-color-overlay);
  }
}
// 修改进度条的颜色
#nprogress .bar {
  background-color: var(--el-color-primary) !important;
}
