html.light {
  --menuBg: #fff !important;
  --menuText: #5c6299 !important;

  --menuHover: #fff !important;

  --subMenuBg: #fff !important;
  --subMenuActiveText: var(--el-color-primary) !important;
  --subMenuHover: #fff !important;
  --sidebarLogo: #fff !important;
  --subMenuHoverText: var(--el-color-primary) !important;
  --subMenuActiveBg: #e0ebf6;
}